<tr data-id>
    <td class="shoping__cart__item">
        <img data-img src="" alt="">
        <h5 data-name></h5>
    </td>
    <td class="shoping__cart__price" data-price>
        
    </td>
    <td class="shoping__cart__quantity">
        <div class="quantity">
            <div class="pro-qty">
                <input data-quantity type="text" value="1">
            </div>
        </div>
    </td>
    <td class="shoping__cart__total" data-subTotal>
        
    </td>
    <td class="shoping__cart__item__close">
        <span class="icon_close"></span>
    </td>
</tr>